@font-face {
    font-family: "rubik-regular";
    src: url(/panel-informativo/fonts/Rubik-Regular.ttf) format("truetype");
}



:root{
    /* padding: 0;
    margin:  0;
    box-sizing: border-box; */

    --dark-blue: #344640;
    --clear-beig: #DCD6B8;
}



/* .panel{
    border: 1px solid #999;
    padding: 1em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    max-width: 70%;
    margin: 20% auto;
}

@media (min-width: 800px){
    .panel{
        background: blue;
        color: white;
    }
}
@media (min-width: 900px){
    .panel{
        background: #212121;
        
    }
} */

body{
    height: 100vh;
}

div{
    border: 1px solid var(--dark-blue);
    height: 100%;
    width: calc(100vw/3);
    background: var(--clear-beig);
}
p{
    font-family: "rubik-regular";
    font-weight: 300;
}

