*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding-inline: 10px;
    /* gap: 10px; */
}


header img{
    background: black;
}



.menu ul{
    display: flex;
    gap: 5px;
    list-style: none;
    

}

.menu ul li a{
    text-decoration: none;
    padding: 10px;

}

.search{
    margin-left: 70px;
    margin-right: -130px;
}

.search a{
    margin-right: 40px;
}

.social ul{
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
    gap: 20px;
}

