*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #1a1d24;
    font-family: "Roboto Condensed", sans-serif;
}

/* header */

.layout-box{
    max-inline-size: 1200px;
    margin-inline: auto;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    color: white; 
    background-color:  #1a1d24;
}

header .logo{
    margin-left: 680px;
}


header nav{
    max-inline-size: 1200px;
}

header nav ul{
    display: flex;
    align-items: center;
}

header .menu ul .item{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  2px solid transparent; /*Para que no se mueva la animacion del Hover*/
    padding-block-end: 5px;
}

header .menu ul .item:hover{
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}

header .separator{
    font-size: 25px;
    color: #737373;
}

li{
    list-style-type: none;
}

a{
    color: white;  
}


.menu ul{
    gap: 20px;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;

}

header .tool{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-right: 680px;
}


.search{
    margin-bottom: 7px ;
    
}

header .tool ,.separator{
    margin-bottom: 7px ;
}

header .tool .social ul{
    gap: 20px;

}

.social i{
    inline-size: 20px;
    block-size: 30px;
}


/* aside */

.main .new{
    display: flex;
    position: relative;
    margin-bottom: 80px;
    gap: 30px;
}


.new .img-principal .title{
    max-inline-size: 404px;
    padding-block-start: 33px;
    padding-inline-start: 29px;
    position: absolute;
    background: #1a1d24;
    right: 0;
    bottom: 0;
}

.new .img-principal .title h2{
    font-size: 37px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
}
.new .img-principal .title p{
    font-size: 14px;
    color: #a8a8a8;
    margin-block: 24px;
    
}
.new .img-principal .title  a{
    font-size: 13px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    
}

.main .new .img-principal img{
    /* height: 609px;
    width: 865px; */
    height: 610px;
    width: 850px;
    object-fit: cover;
}

.new .aside .title{
    color: white;
    font-size: 17px;
    margin-block-end: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.new .aside .list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new .aside .list .item{
    display: flex;
    gap: 18px;
}

.new .aside .list .item img{
    width: 97px; height: 81px;
}

.new .aside .item .item-title{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.new .aside .time{
    color: #a8a8a8;
    font-size: 11px;
    text-transform: uppercase;
}


/* CARRUSEL DE IMAGENES */

.cont-trailer{
    position: relative;
    max-inline-size: 2543px;
    margin-inline: auto;
}

.cont-trailer nav{
    /* margin-bottom: 50px; */
    margin-bottom: 130px;
    margin-left: 680px;
}

.main .cont-trailer nav, .carrusel,  span{
    color: #737373;
    /* font-family: 'roboto'; */
}

.container-carrusel{
    position: relative;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 30px;
    
}

.container-carrusel .cont-carr-img{
    position: relative;
    display: flex;
    justify-content: center;
}

.container-carrusel .cont-carr-img div{
    position: absolute;
    margin-top: 170px;
}

.container-carrusel .cont-carr-img div a{
    text-decoration: none;
}

.container-carrusel img{
    width: 217px;
    height: 298px;
    object-fit: cover;
    margin-top: -70px;
    /* opacity: 1; */
}
.container-carrusel .cont-carr-img .sombraImg{
    position: absolute;
    background: linear-gradient(45deg, black,20%, transparent);
    height: 300px;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: -70px;

} 

.cont-trailer .container-carrusel a:nth-child(n+2){
    color: #BDBDBD;
    font-weight: bold;
} 

.cont-trailer .Slider{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    background-color: white;
}



/* Samurai */

.samurai{
    /* max-inline-size: auto;
    margin-inline: auto; */
    background-color: white;
}

.samurai img{
    width:2543px;
    height: 650px;
    margin-top: 180px;
}

.text-samurai{
    max-inline-size: 600px;
    height: auto;
    /* padding-block-start: 33px;
    padding-inline-start: 29px; */
    padding: 0 15px;
    position: absolute;
    right: 680px;
    bottom: -450px;
    
}

.text-samurai .linea-samurai::before{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 48px;
    background: #ddd;
    text-align: left;
    color: #e0041d;

}

.samurai .text-samurai h3{
    color: #737373;
    text-transform: uppercase;
    font-size: 13px;
}

.samurai .text-samurai h2{
    font-size: 37px;
    /* color: #ffff; */
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 24px;
}

.samurai span{
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    
}

.samurai .samurai-hbo-sesion span{
    color: #1a1d24;
}


.samurai .text-samurai p{
    font-size: 15px;
    color: #737373;
    margin-block: 24px;
}

.samurai .text-samurai .samurai-icon{
    display: flex;
    
}

.samurai .text-samurai .samurai-icon .fa-solid{
    color: #e0011a;
}

.samurai .text-samurai .samurai-view {
    text-decoration: none;
    color: #e0011a;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

.samurai .text-samurai .samurai-icon .fa-regular{
    margin-left: 40px;
    
}

.samurai .text-samurai a,.samurai-watch{
    text-decoration: none;
    color: #1a1d24;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
