*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #1a1d24;
    font-family: "Roboto Condensed", sans-serif;
}

/* header */

.layout-box{
    max-inline-size: 1280px;
    margin-inline: auto;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    color: white; 
    background-color:  #1a1d24;
    margin-bottom: 30px;
}

header .logo{
    margin-left: 676px;
}


header nav{
    max-inline-size: 1200px;
}

header nav ul{
    display: flex;
    align-items: center;
    margin-left: 170px;
}

header .menu ul .item{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:  2px solid transparent; /*Para que no se mueva la animacion del Hover*/
    padding-block-end: 5px;
}

header .menu ul .item:hover{
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}

header .separator{
    font-size: 25px;
    color: #737373;
}

li{
    list-style-type: none;
}

a{
    color: white;  
    text-decoration: none;
}


.menu ul{
    gap: 20px;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;

}

header .tool{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-right: 680px;
    margin-left: 10px;
}


.search{
    margin-bottom: 7px ;
    margin-left: 100px;
    
}

header .tool .separator{
    margin-bottom: 7px ;
    margin-left: 10px;
    margin-right: 20px;
    
    
}

header .tool .social{
    margin-left: -160px;
}

header .tool .social ul{
    gap: 20px;

}

.social i{
    inline-size: 20px;
    block-size: 30px;
}


/* aside */

.main .new{
    display: flex;
    position: relative;
    margin-bottom: 80px;
    gap: 30px;
}


.new .img-principal .title{
    max-inline-size: 404px;
    padding-block-start: 33px;
    padding-inline-start: 29px;
    position: absolute;
    background: #1a1d24;
    right: 0;
    bottom: 0;
}

.new .img-principal .title h2{
    font-size: 37px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
}
.new .img-principal .title p{
    font-size: 14px;
    color: #a8a8a8;
    margin-block: 24px;
    
}
.new .img-principal .title  a{
    font-size: 13px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.main .new .img-principal img{
    /* height: 609px;
    width: 865px; */
    height: 610px;
    width: 850px;
    object-fit: cover;
}

.new .aside .title{
    color: white;
    font-size: 17px;
    margin-block-end: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.new .aside .list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new .aside .list .item{
    display: flex;
    gap: 18px;
}

.new .aside .list .item img{
    width: 97px; height: 81px;
}

.new .aside .item .item-title{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.new .aside .time{
    color: #a8a8a8;
    font-size: 11px;
    text-transform: uppercase;
}


/* CARRUSEL DE IMAGENES */

.cont-trailer{
    position: relative;
    /* width:2545px; */
    width: 100%;
    margin-inline: auto;
    /* color: white; */
}

.cont-trailer nav{
    /* margin-bottom: 50px; */
    margin-bottom: 110px;
    margin-left: 635px;
}

.cont-trailer nav .carrusel{
    text-decoration: none;
    color: #737373;
    font-size: 13px;
    font-weight: bold;
}

.cont-trailer nav span{
    color: #737373;
    margin: 10px;
    /* font-family: 'roboto'; */
}

.container-carrusel{
    position: relative;
    /* width: 2545px; */
    width: 100%;
    background-color: #ffff;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
    /* padding-bottom: 130px; */
    
}

.container-carrusel .cont-carr-img{
    position: relative;
    display: flex;
    margin-right: 38px;
    justify-content: center;
}

.container-carrusel .cont-carr-img div{
    position: absolute;
    margin-top: 180px;
}

.cont-trailer .container-carrusel h3{
    color: black;
}

/* .cont-trailer .container-carrusel a{
    color: black; 
}  */


.container-carrusel img{
    width: 217px;
    height: 298px;
    object-fit: cover;
    margin-top: -70px;
    margin-bottom: 30px;
}

.cont-trailer  .slider{
    display: flex;
    width: 100%;
    justify-content: center;
    background: white;
    gap: 8px;
    font-size: 9px;

}

/* Samurai */

.samurai{
    /* max-inline-size: auto;
    margin-inline: auto; */
    width:100%;
    background-color: white;
    
}

.samurai img{
    width:1910px;
    height: 500px;
    margin-top: 180px;
    margin-left: 213px;
}

.samurai .text-samurai{
    position: absolute;
    max-inline-size: 600px;
    /* height: auto; */
    /* padding-block-start: 33px;
    padding-inline-start: 29px; */
    padding: 0 50px;
    right: 810px;
    bottom: -380px;
    
}

.text-samurai .linea-samurai{
    margin-left: 3px;
}

.text-samurai .linea-samurai::before{
    position: absolute;
    content: " ";
    height: 1px;
    width: 48px;
    background: #e0011a;

}


.samurai .text-samurai h3{
    color: #737373;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
}

.samurai .text-samurai h2{
    font-size: 37px;
    /* color: #ffff; */
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 24px;
}

.samurai span{
    margin: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    
}


.samurai .text-samurai p{
    font-size: 15px;
    color: #737373;
    margin-block: 24px;
}

.samurai .text-samurai .samurai-icon{
    display: flex;
}

.samurai .text-samurai .samurai-icon .fa-solid{
    color: #e0011a;
}

.samurai .text-samurai .samurai-view {
    text-decoration: none;
    color: #e0011a;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

.samurai .text-samurai .samurai-icon .fa-regular{
    margin-left: 40px;
    color: #1a1d24;
}

.samurai .text-samurai .samurai-watch {
    text-decoration: none;
    color: #1a1d24;
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

/* PELI-RECIENTE */

.peli-recientes{
    display: flex;
    position: relative;
    
    margin-top: -4px;

}

.peli-recientes .recient-cont{
    position: relative;
    width: 100%;
    display: flex;


}

.peli-recientes .recient-cont img{
    width: 636px;
    height: 880px;
    object-fit: cover;
    filter: brightness(70%);/*Para oscurecer cualquier imagen*/
}

.peli-recientes .recient-cont .peli-text{
    position: absolute;
    display: flex;
    width: 440px;
    height: 225px;
    flex-direction: column;
    padding: 16px 18px 0px;
    margin-top: 646px;
    color: white;
    /* max-inline-size: 700px; */
    margin-left: 30px;
    /* border: 2px solid white; */
    
}

.peli-recientes .recient-cont .peli-text h2  {
    margin-bottom: 20px;
    font-size: 27px;
    text-transform: uppercase;
    
    
    
}

/* .peli-recientes .recient-cont .peli-text .tipo-peli{
    margin-bottom:30px;
} */



.peli-recientes .recient-cont .peli-text .trailer-info{
    margin-top: 50px;
    width: 100%;
    height: 10px;
    display: none;
    align-items: center;
    color: #2E3036;
    transition:height.10s;
    /*border: 2px solid white;*/
    
}

.peli-recientes .recient-cont .peli-text:hover .trailer-info{
    display: block;
    height: 50px;
    cursor: pointer;
}

.peli-recientes .recient-cont .peli-text .trailer-info i{
    color: #2E3036;
    background: #F8B350;
    font-size: 30px;
    border-radius: 100%;

}
.peli-recientes .recient-cont .peli-text .trailer-info .fa-circle-play{
    margin-right: 10px;
    
}


.peli-recientes .recient-cont .peli-text .trailer-info .fa-circle-arrow-right{
    margin-left: 40px;
}

/* .peli-recientes .recient-cont .peli-text .trailer-info .more{

} */

.peli-recientes .recient-cont .peli-text .trailer-info .more{
    margin-left: 10px;
    
}

.peli-recientes .recient-cont .peli-text .clasif{
    color: #b7b0b0;
    font-size: 13px;
}


.peli-recientes .recient-cont .peli-text .linea-text{
    margin-left: 3px;
    margin-bottom: 25px;
}



.peli-recientes .recient-cont .peli-text .linea-text::before{
    position: absolute;
    content: " ";
    height: 1px;
    width: 48px;
    background: #F8B350;

}


    /* INICIO CARRUSEL ROJO */

    .container-carrusel-red{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 509px;
        background: #A80113;
    }

    .container-carrusel-red .caja-red{
        display: block;
        text-align: center;
        width: 370px;
        height: 285px;
        color: white;
    }

    .container-carrusel-red .caja-red img{
        width: 105px;
        height: 105px;
        justify-items: center;
        border-radius: 50%;
        margin-bottom: 40px;
    }

    .container-carrusel-red .caja-red .caja-red-text{

        margin-top: 20px;
    }


    .caja-red-before::before {
        display: block;
        position: absolute;
        content: "”";
        font-family: "fontello";
        font-size: 36px;
        height: 34px;
        width: 34px;
        background: black;
        border-radius: 50%;
        color: white;
        margin-left: 168px;
        bottom: -1700px;
        z-index: 1;
        font-weight: bold;
        line-height: 50px;
        }

        .caja-red .caja-red-text p{
            width: 370px;
            height: 60px;
            font-family: "lora";
            font-size: 25px;
            margin-bottom: 20px;
        }

        .caja-red .caja-red-text h4{
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .caja-red .caja-red-text .text-b{
            font-size: 12px !important;
            font-family: sans-serif;
            font-weight: normal;
        }

    /* FIN CARRUSEL ROJO */

        
    /* INICIO BLOG GRID */
        .blog{
            background: white;
            padding-block: 120px;
        }

        .grid{
            display: grid;
            grid-template-columns: 1fr repeat(2, 0.5fr);
            grid-template-rows: repeat(2, 270px);
            gap: 25px;
        }

        .grid .article-blog:first-child{
            --font-size:37px;
            grid-row:1 / 3 ;
            background-image: 
            linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.5) 100%),
            url(img/papa-hija.jpg);
            background-size: 700px 559px;
            background-repeat: no-repeat;
            background-position: center;
            
        }

        .grid .article-blog:nth-child(2){
            --font-size:17px;
            background-image:  
            linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
            url(img/img3.jpg);
            background-size: 370px 268px;
            background-repeat: no-repeat;
            background-position: center;
            
        }

        .grid .article-blog:nth-child(3){
            --font-size:17px;
            background-image:  
            linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
            url(img/img2.jpg);
            background-size: 370px 268px;
            background-position: center;
        }

        .grid .article-blog:last-child{
            --font-size:24px;
            grid-column: 2 / 4;
            background-image: 
            linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
            url(img/img1.jpg);
            background-size: 640px 270px;
            background-repeat: no-repeat;
            background-position: center;
        }

        /* .grid-a{
            grid-row:1 / 3 ;
        }

        .grid-d{
            grid-column: 2 / 4;
        } */

        .article-blog{
            display: flex;
            justify-items: start;
            align-items: end;
            /* text-align: center; */
        }

        /* .article-blog .data{
            justify-items: center;
            align-items: end;
        } */

        .article-blog .data .subtitle{
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: #f8b350;
        }

        .grid .article-blog .data .title{
            font-size: var(--font-size);
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
        }

        
        
        .article-blog .data .info{
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: #d2d2d2;
        }

    /* FIN BLOG GRID */