*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    border: 1px solid black;
    width: 40%;
    margin: 18em auto;
    padding: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #0D1125;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.3em;
    color: #fff;
}

h5{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2em;
    color: #fff;
}

input{
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    font-size: 1.3rem;
    background-color: #1D263B;
    color: #303245;
    border: none;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

button{
    width: 100%;
    padding: 0.8em;
    font-size: 1.3rem;
    margin-top: 1.2em;
    margin-bottom: 2em;
    background-color: #0088DD;
    color: #fff;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}